<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" />
  <title>My Bookings</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
<h1>Bookings for [[${student.firstName}]] [[${student.lastName}]]</h1>

<table border="1">
  <thead>
  <tr>
    <th>Resource</th>
    <th>Date</th>
    <th>Time</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="booking : ${bookings}">
    <td th:text="${booking.resource.name}">Resource Name</td>
    <td th:text="${booking.date}">Date</td>
    <td th:text="${booking.time}">Time</td>
  </tr>
  </tbody>
</table>

<a href="/dashboard">Back to Dashboard</a>
</body>
</html>